<div id="main">




  <section class="clearfix">


    <div class="myButton">
      <button mat-icon-button id="profile">
        <span class="material-icons">
          account_circle
        </span>
      </button>
    </div>



    <div class="myButton">
      <button mat-icon-button id="search">
        <span class="material-icons">
          search
        </span>
      </button>
    </div>



    <div class="myButton" style="width: 26%;">
      <button mat-fab id="userHome">
        <span class="material-icons">
          home
        </span>
      </button>
    </div>



    <div class="myButton">
      <button mat-icon-button id="appointment">
        <span class="material-icons">
          today
        </span>
      </button>
    </div>



    <div class="myButton">
      <button mat-icon-button id="marked">
        <span class="material-icons">
          bookmark_border
        </span>
      </button>
    </div>




  </section>


</div>