@media only screen and (max-width: 600px) {
      #appWrapper{


            background-color: #ffffff;
            width: 80%;
            margin:auto;
            margin-top: 10px;
            min-height: 400px;
            border-radius: 30px;
            color: #1f036d;
            
            
      }
}
  
@media only screen and (min-width: 601px) {
      #appWrapper{


            background-color: #ffffff;
            width: 450px;
            height: 90%;
            margin-right:auto;
            margin-left:auto;
            margin-top: 10px;
            min-height: 400px;
            border-radius: 30px;
            color: #1f036d;
            
            
      }
}


#holder{
      height: 360px;
      overflow: scroll;
       overflow-y:auto;
overflow-x:auto; 
}