<div id="main">
      <div id="back">
            <span id="titlespan">
                  <p id="title">Account Activation!</p>
            </span>
      </div>
      <div>

            <label>Your account is in the Activation prossess!</label>
            <br>
            <br>
            <div id="spinner">
                  <div style="width: fit-content ; margin: auto;">
                        <mat-spinner></mat-spinner>
                  </div>
            </div>
            <br>
            <br>
            <p class="par"> Please wait a few seconds.</p>
            <br>
            <p class="par"> In case of any problem, please contact technical support.</p>

      </div>
</div>