<div id="main">

      <span id="titlespan">
            <p id="title">User Profile</p>
      </span>

      <div>
            <ul>



                  <li>
                        <label>User Email: </label>
                        <p class="par"> {{currentUser.email}}</p>
                  </li>
                  <li>
                        <label>User Bio: </label>
                        <p class="par"> This feature will be implement later.</p>
                  </li>
                  <li>
                        <label> User Profile Picture: </label>
                        <p class="par"> This feature will be implement later.</p>
                  </li>


            </ul>
      </div>

      <br>

      <div id="signinkeyspan">
            <br>

      </div>

      <br>

</div>