
<!-- <h1  style="text-align: center;">{{showNum}}</h1> -->



<div style="text-align: center;">
      <div style="text-align: center; margin:auto ; width: fit-content;" *ngIf="true">
            <!-- <button mat-raised-button [color]="color" (click)="onClick()" >retrieve</button> -->
            
            <!-- <br>
            <mat-spinner></mat-spinner>
            <br>
            <mat-progress-spinner class="Accent" mode="indeterminate" [color]="color"> </mat-progress-spinner>
            <br> -->

      </div>
      <br>


</div>

<div>
      <app-child></app-child>
</div>