/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.blue-snackbar {
      margin-right: 8px;
      color: rgb(243, 109, 109);
      font-weight:700 ;
      font-size: 4rem;
      /* color: lawngreen; */
    }

    #dialogCloseButton{
      padding: 10px;
      background-color: white;
      border: rgb(184, 184, 184) 3px solid;
      border-radius: 5px;

    }
    #dialogCloseButtonDiv{
      text-align: center;
      padding: 10px;
    }